header{
    display:flex;
    background:lightcyan;
    justify-content: space-between;
    
}



header div:first-child{
    display:flex;
    width:30%;
    align-self: flex-start;
    background:yellow;

}

header div:last-child{
    display:flex;
    justify-content: space-between;
    width:70%;
    background:orange;
    padding:0;
}

nav{
    flex-grow:1;
}


nav ul{
    display:flex;
    justify-content: space-between;
    list-style: none;   
    padding:0;
    background:purple;   
    border-color:red;
    border-width:5px;
   
}

li{
    border-color:red;
    border-width:5px;
    border-style: solid;
    padding:10px;
}

main{
    width: 1000px;
    height:auto;
    background: lightsalmon;
       
   
}

article{
    background: lightgray;
    display:flex;
}

footer{
    display:flex;
    background: lightgreen;
    width:auto;
    justify-content: space-evenly;
}



