body{
    background: grey;
}

div{
    background: lightblue;
    width: 500px;
    height: 300px;
    margin: 10px;
    border: 4px solid #000;
    box-sizing: border-box;
}

#flex {
    width: 70%;
    margin:0 auto;
    height: 300px;
    background: lightsalmon;
    display: flex;
    justify-content: space-around;

}

#flex div{
    width: 100px;
    height: auto;
    margin: 0px;
    align-items: baseline;
}