/* #container{
    width: 1000px;
    background: grey;
}

.h150{
    height: 150px;
    
}

.bgblue{
    background: lightblue;
} */

main{
    width: 1000px;
    background: lightsalmon;
}

header, footer{
    height: 150px;
    background: lightgreen;
}

aside{
    width: 150px;
    height: 600px;
    background: lightblue;
}

article{
    width: 850px;
    height: 600px;
    background: lightgrey;
}

#flex{
    display: flex;
}